@inherits LayoutComponentBase

<nav>
    <ul>
        <li><@NavLink href="/">Home</@NavLink></li>
        <li><@NavLink href="/uploadcv">Upload CV</@NavLink></li>
        <li><@NavLink href="/summarypreview">Summary Preview</@NavLink></li>
    </ul>
</nav>
